.company_card {
  text-align: center;
  background-color: var(--secondaryBackground);
  padding: 1.5rem 0;
  border-radius: 0.5rem;
  position: relative;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_logo_container {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  top: -1.5rem;
}

.card_logo_container img {
  width: 100%;
}

.company_card h2 {
  color: white;
  margin: 1rem 0;
  margin-top: 2rem;
  font-weight: 600;
}

.company_card a {
  background-color: #2b323d;
  display: block;
  padding: 1rem;
  margin: auto;
  margin-top: 2rem;
  width: fit-content;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
}

@media (min-width: 640px) {
  .company_card {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    text-align: left;
  }

  .card_logo_container {
    position: static;
    border-radius: 0;
    width: 25%;
    padding: 4rem 1rem;
    margin: 0;
  }

  .links {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }

  .links h2 {
    margin: 0;
  }

  .company_card a {
    margin: 0;
  }
}

@media (min-width: 950px) {
  .company_card {
    position: absolute;
    left: 6rem;
    right: 6rem;
    top: 4rem;
    max-height: 12rem;
    overflow: hidden;
  }

  .card_logo_container {
    width: 15%;
    padding: 2rem;
    height: 8rem;
  }
}
