header {
  background: var(--purpleColor);
  padding: 2rem 1rem;
  padding-bottom: 5rem;
  background-image: url('../../assets/mobile/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme_switch_container {
  display: flex;
  align-items: center;
}

.theme_switch {
  background-color: white;
  padding: 0.25rem;
  width: 3rem;
  height: 1.25rem;
  border-radius: 1rem;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  box-sizing: unset;
  cursor: pointer;
}

.circle {
  background-color: var(--purpleColor);
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100%;
  transition: var(--smoothTransition);
}

@media (min-width: 640px) {
  header {
    border-radius: 0 0 0 5rem;
    padding: 2rem;
    padding-bottom: 5rem;
    background-image: url('../../assets/tablet/bg-pattern-header.svg');
  }
}

@media (min-width: 950px) {
  header {
    padding: 2rem 6rem;
    padding-bottom: 5rem;
    background-image: url('../../assets/desktop/bg-pattern-header.svg');
  }
}
