@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --purpleColor: #5964e0;
  --textColor: #6e8098;
  --smoothTransition: all 0.25s ease-in-out;
  --secondaryBackground: #19202d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #121721;
  color: var(--textColor);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: unset;
}

.home,
.details_page {
  padding: 1rem;
}

.filter_main_container {
  position: absolute;
  top: 5.5rem;
  left: 1rem;
  right: 1rem;
}

.jobs_container {
  margin-top: 6rem;
}

.more_btn {
  background-color: var(--purpleColor);
  display: block;
  margin: auto;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  border: none;
  transition: var(--smoothTransition);
}

@media (min-width: 640px) {
  .home,
  .details_page {
    padding: 1rem 2rem;
  }

  .jobs_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}

@media (min-width: 950px) {
  .home,
  .details_page {
    padding: 1rem 6rem;
  }
}
